* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: FireFlight;
    src: url(../fonts/FireFlightFREE.ttf);
    font-family: Crawler;
    src: url(../fonts/CRAWLER-RegularDEMO.ttf);
    font-family: RoyalKnight;
    src: url(../fonts/Royal_Knights-Demo.ttf);
}

body {
    display: flex;
    justify-content: center;
    background-color: black;
    min-width: 20%;
}


/* SECTION HOME MENU*/

div.home-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    background: black;
    align-items: center;
    /* top: 25vh; */
    height: 10vh;
    width: 55vw;
    border-style: double;
    background: linear-gradient(to left, #080202, #460808, #080202);
    border-radius: 15px;
    justify-content: space-between;
}

section.home-menu {
    position: relative;
    font-family: Crawler;
    text-align: center;
    background: -webkit-linear-gradient(#4e0202, #9b0202);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: #8f0101 0 2 15px;
    /* top: 2vh; */
    font-size: 3vh;
}

div.game-section {
    background-color: black;
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    top: 3%;
}

img#background-dungeon {
    position: relative;
    width: 85%;
    max-width: 720px;
    min-width: 25px;
    height: auto;
}


/* SECTION Monster Properties*/

section.monster-section {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* top: 15.5vh; */
    width: 78vw;
    max-width: 590px;
}

#sprite-monster {
    position: relative;
    width: 130%;
    height: auto;
    top: 9vh;
    margin: auto;
    transform: translate(-28%, 3%);
    bottom: 0;
}

div.enemy-info {
    position: absolute;
    width: 45.5vw;
    height: 3vh;
    max-width: 25vh;
    background: linear-gradient(to left, #080202, #460808, #080202);
    align-items: center;
}

div.enemy-info p {
    position: relative;
    margin: 0px;
    font-family: RoyalKnight;
    background: -webkit-linear-gradient(#00797C, #0055ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-size: 23px;
    /* : -1.5vh; */
}

#enemy-health-point {
    bottom: 1vh
}

#sprite-boss {
    position: absolute;
    width: 165%;
    height: auto;
    : 9vh;
    margin: auto;
    transform: translate(0%, -82%);
}


/* SECTION Player Properties */

section.player-section {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 55%;
    bottom: 11vh;
    margin: 5px 23px;
}

section.player-information {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

div.playerbox {
    position: relative;
    display: flex;
    flex-direction: column;
    background-image: url('../assets/UI-PlayerInfo.png');
    padding: 11%;
    margin: auto;
    background-size: contain;
    background-repeat: no-repeat;
    /* max-height: 28px; */
    /* height: 100%;
    width: 63%;
    min-width: 50%; */
}

#text-playerHealth {
    position: relative;
    text-align: center;
    font-family: Crawl;
    font-size: 1.5em;
    letter-spacing: 2px;
    color: red;
    background: -webkit-linear-gradient(rgb(240, 196, 100), #800000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#text-health-point {
    position: relative;
    text-align: center;
    font-family: Crawl;
    font-size: 2.1em;
    letter-spacing: 2px;
    color: red;
    background: -webkit-linear-gradient(rgb(189, 54, 36), #c76228);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#ui-playerinfo {
    position: relative;
    width: 100%;
    height: auto;
}

section.player-attack-section {
    position: relative;
    display: flex;
    flex-direction: row;
    margin: 11px 10% auto;
    top: 10em;
    flex-wrap: wrap;
    max-width: fit-content;
}

#ui-physicalattack {
    position: relative;
    width: 50%;
    height: auto;
}

#ui-magicalattack {
    position: relative;
    width: 50%;
    height: auto;
}

section.potion {
    position: relative;
    width: 22%;
    bottom: 14vh;
    right: 6vh;
    margin: 2%;
}

#ui-potionicon {
    position: relative;
    width: 100%;
    height: auto;
}

#text-potion-qty {
    position: relative;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: right;
    background: -webkit-linear-gradient(#55ff00, #339900);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

section.dungeon-section {
    background: black;
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 15em;
    height: 4em;
    border: 4.5px;
    border-style: double;
    background: linear-gradient(to left, #080202, #460808, #080202);
}

div.dungeon-floordiv {
    color: red;
}

#text-floor {
    text-align: center;
    background: -webkit-linear-gradient(#800000, #99541b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: #81300a 0 0 10px;
}

#text-floor-number {
    text-align: center;
    background: -webkit-linear-gradient(#881717, #c28616);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: #81300a 0 0 10px;
}

section.log-section {
    position: absolute;
    width: 45.5vw;
    height: 5vh;
    max-width: 25vh;
    : 15vh;
    background: linear-gradient(to left, transparent, #080202, #310a0a, #080202, transparent);
    align-items: center;
}

#dialogue-box {
    color: red;
    text-align: center;
    margin: 8px;
    font-size: 17px;
    background: -webkit-linear-gradient(#ff1a1a, #c28616);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

section.log-section div {
    max-width: 25vw;
    margin: auto;
}

div.how-to-play {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    height: 30%;
    max-height: 400px;
    width: 40vw;
    max-width: 500px;
    border-style: double;
    background: linear-gradient(to left, #080202, #460808, #080202);
    border-radius: 10px;
    color: #b37700;
}

div.how-to-play p {
    position: relative;
    margin: 8px;
    left: 50%;
    transform: translate(-52%, -50%);
    font-size: 16px;
}

div.go-back {
    position: relative;
    margin: 30px 60px 30px 50px;
    transform: translate(0%, 84%);
}

div.go-back button {
    font-size: 1.2em;
    padding: 2px;
    width: 115px;
}

div.how-to-play-button {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    height: 4%;
    max-height: 400px;
    min-width: 16vw;
    width: 18vw;
    max-width: 500px;
    background: linear-gradient(to left, #080202, #460808, #080202);
    border-radius: 10px;
    font-size: 2em;
    background: -webkit-linear-gradient(#f17868, #bd5f12);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #800000;
    margin: 8px;
}

@media screen and (max-width: 411px) {
    section.player-attack-section {
        top: 126%;
    }
}

@media screen and (max-width: 375px) {
    section.player-section {}
}